/* Your other CSS styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: underline;
  font-weight: 400;
  color: inherit;
}

a.active > .MuiTypography-root {
  text-decoration: underline;
  font-weight: 800;
}

button {
  font-weight: 800 !important;
}

#add-like:hover,
#add-like:active,
#add-like:visited,
#add-like:focus {
  color: #dc3545;
  transition: 0.1s ease-in-out;
}

h1 {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

/* h2 {
  font-size: 2rem !important;
  margin: 1.25rem 0 !important;
} */

h3 {
  font-size: 1.25rem !important;
  line-height: 1.8;
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 1rem !important;
    line-height: 1.8;
  }
}

@media only screen and (max-width: 767px) {
  .MuiFormHelperText-root {
    font-size: 10px !important;
  }
}
