/* Your other CSS styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #fff;
  font-weight: 700;
}

button {
  font-weight: 800 !important;
}

#add-like:hover {
  color: #e79d19;
  transition: 0.1s ease-in-out;
}

h1 {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2rem !important;
  }
  .login-status,
  .login-user {
    font-size: 0.65rem !important;
  }
  img {
    width: 40px !important;
  }
}
