/* Your other CSS styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #fff;
  font-weight: 700;
}

button {
  font-weight: 800 !important;
}

#add-like:hover {
  color: #e79d19;
  transition: 0.1s ease-in-out;
}

h1 {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2rem !important;
  margin: 1.25rem 0 !important;
}

h3 {
  font-size: 1.75rem !important;
  line-height: 1.8;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem !important;
    margin: 1.25rem 0 !important;
  }

  h3 {
    font-size: 1.25rem !important;
    line-height: 1.8;
  }
}
